{
 :paths ["test" "src"]
 :deps {clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
        }
 :aliases
 {:test {:main-opts ["-m" "kaocha.runner"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}}}
  :watch-test
  {:main-opts ["-m" "kaocha.runner"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}}
   }}
 }
